
//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07
//Part Number: GW2AR-LV18QN88PC8/I7
//Device: GW2AR-18C
//Created Time: Fri 09 23 09:06:49 2022

IO_LOC "USB_PULLUP_EN_O" 40;
IO_PORT "USB_PULLUP_EN_O" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "USB_TERM_DN_IO" 47;
IO_PORT "USB_TERM_DN_IO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "USB_TERM_DP_IO" 46;
IO_PORT "USB_TERM_DP_IO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "USB_DXP_IO" 48,49;
IO_PORT "USB_DXP_IO" PULL_MODE=NONE DRIVE=4;
IO_LOC "IIS_DATA_O" 26;
IO_PORT "IIS_DATA_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_BCLK_O" 25;
IO_PORT "IIS_BCLK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "IIS_LRCK_O" 24;
IO_PORT "IIS_LRCK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "USB_RXDN_I" 50;
IO_PORT "USB_RXDN_I" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "USB_RXDP_I" 42;
IO_PORT "USB_RXDP_I" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "CLK_IIS_49_152_I" 58;
IO_PORT "CLK_IIS_49_152_I" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_IIS_45_158_I" 23;
IO_PORT "CLK_IIS_45_158_I" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "CLK_IN" 56;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "MIC_IIS_BCLK_O" 98;
IO_PORT "MIC_IIS_BCLK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "MIC_IIS_LRCK_O" 99;
IO_PORT "MIC_IIS_LRCK_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "MIC_IIS_DATA_I" 97;
IO_PORT "MIC_IIS_DATA_I" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "HORN_GAIN_SLOT_O" 28;
IO_PORT "HORN_GAIN_SLOT_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "HORN_SD_MODE_O" 27;
IO_PORT "HORN_SD_MODE_O" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;

IO_LOC "APM_IIS_LRCK_O" 133;
IO_LOC "APM_IIS_BCLK_O" 131;
IO_LOC "APM_IIS_DATA_O" 129;


IO_LOC "MIC_IIS_2_IO_LRCK_O" 132;
IO_LOC "MIC_IIS_2_IO_BCLK_O" 130;
IO_LOC "MIC_IIS_2_IO_DATA_I" 128;


